<mat-grid-list cols="2">
  <mat-grid-tile style="background: chartreuse;">
    <table style="background: deeppink; left: 0; top: 0; position: absolute;">
      <tr>
        <label>Name:</label>
        <label name="name"></label>
      </tr>
      <tr>
        <label>Level:</label>
        <label name="level"></label>
      </tr>
      <tr>
        <label>Class:</label>
        <label name="class"></label>
      </tr>
      <tr>
        <label>Race:</label>
        <label name="race"></label>
      </tr>
    </table>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
