<mat-grid-list cols="2">
  <mat-grid-tile>
    <table>
      <tr>
        <label>Name: </label>
        <label name="name">Søren</label>
      </tr>
      <tr>
        <label>Level: </label>
        <label name="level">60</label>
      </tr>
      <tr>
        <label>Class: </label>
        <label name="class">Warrior</label>
      </tr>
      <tr>
        <label>Race: </label>
        <label name="race">Gnome</label>
      </tr>
    </table>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <img mat-card-sm-image src="https://placehold.co/80" >
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
